<div *ngIf="student">
<h2>{{student.nombre | uppercase }} Details</h2>
<div class="students"><span class="badge">id: </span>{{student.id}}</div>
<div class="students"><span class="badge">name: </span>{{student.nombre}}</div>
<div class="students"><span class="badge">lastname: </span>{{student.apellido}}</div>
<div class="students"><span class="badge">type: </span>{{student.tipo}}</div>
<div class="students"><span class="badge">amount: </span>{{student.montoBeca}}</div>
<button (click)="goBack()">go back</button>
</div>
